# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets
.env
*.env

# Jupyter
.ipynb_checkpoints/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
/outputs